.home-container {
  margin: 0 auto;

  h1.main-title {
    margin-top: 65px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1.6px;
    line-height: 52px;
    padding-left: 20px;
    padding-right: 20px;
  }

  p.description {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    max-width: 800px;
    line-height: 26px;
    margin-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 550px;

    span {
      opacity: 0.8;
    }

    strong {
      opacity: 1;
    }
  }
}

@media (max-width: 1000px) {
  .home-container {
    h1.main-title {
      font-size: 44px;
      line-height: 49px;
    }
    p.description {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
@media (max-width: 500px) {
  .home-container {
    p.description {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
@media (max-width: 375px) {
  .home-container {
    h1.main-title {
      font-size: 35px;
      line-height: 37px;
    }
    p.description {
      font-size: 15px;
      line-height: 21px;
    }
  }
}
