/**
 * IMPORTANT
 * to compute the correct  width and translate3d endposition
 * its important to know the EFFECTIVE image size. E.g.
 * => poweredBy is 1013x40
 *    ...setting height of 22px resizes the image to 557.15 x 22
 *    ...now you need to use -557.15 for translate3s endposition => translate3e(-557.13, 0, 0)
 *    ...now you need to use 6*557.15=3342.9 as width for .sliding-background
 * => howItWorks is 2939x79
 *    ...setting height of 50px resizes the image to 1860.13 x 50
 *    ...now you need to use -1860.13 for translate3s endposition => translate3e(-1860.13, 0, 0)
 *    ...now you need to use 6*1860.13=11160.76 as width for .sliding-background
 */

.ticker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.ticker-container.ticker1 {
  .sliding-background-container {
    padding-top: 4px;
    padding-bottom: 4px;

    .sliding-background {
      background: url("../../../img/ticker1111.png") repeat-x;
      background-size: contain;
      height: 100px; /* The image height */
      width: 6224px; /* The image width times 4 */
      animation: slideTicker1 30s linear infinite;
    }
  }
}

@keyframes slideTicker1 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(-1556px, 0, 0) } /* The image width multiplied with -1 */
}
@keyframes slideTicker1small {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(-1167px, 0, 0) } /* The image width * 0.75  */
}

.ticker-container.ticker2 {
  .sliding-background-container {
    padding-top: 4px;
    padding-bottom: 4px;

    .sliding-background {
      background: url("../../../img/ticker2222.png") repeat-x;
      background-size: contain;
      height: 100px; /* The height */
      width: 7488px; /* The image width times 6 */
      animation: slideTicker2 50s linear infinite;
    }
  }
}

@keyframes slideTicker2 {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(-1872px, 0, 0) } /* The image width multiplied with -1 */
}
@keyframes slideTicker2small {
  0% { transform: translate3d(0, 0, 0) }
  100% { transform: translate3d(-1404px, 0, 0) } /* The image width multiplied with -1 */
}

// MEDIA QUERIES
// make ticker smaller for tablets (<1000) and phones (vw <500)
@media (max-width: 1000px) {
  .ticker-container.ticker2 .sliding-background {
    height: 75px !important;
    width: 7488px; /* The image width times 6 */
    animation: slideTicker2small 40s linear infinite !important;
  }
  .ticker-container.ticker1 .sliding-background {
    height: 75px !important;
    width: 4641px; /* The image width times 6 */
    animation: slideTicker1small 40s linear infinite !important;
  }
}
