// DEFINE YOUR COLORS HERE
$background-fallback: #161616;
$white: #F5F5F5;

// NOT IN USE
$grey: #41454b;
$yellow: #ffe91c;
$green: #38A512;
$red: #F02D2D;
$light-blue: #CCEAF6;
$blue: #0990F2;
$blue-lighter: #00ade2;
